body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    box-sizing: border-box;
   
}


.titulo{
    text-align: center;
    font-display: grid;
    font-size: 80px;
    font-weight: bold;
    background-color: rgb(0, 32, 96);
    color: rgb(255, 255, 255);
    width:100%;
    margin:auto;
    display: grid;
    grid-gap:50px;
    padding: 60px 0px;
}


/*:::MENU ACORDEON*/
.contenedor-acordeon{
    width: 100%;
    max-width: 800px;
    margin:auto;
    margin-top: 80px;
}
.contenedor-acordeon h2{
    text-align: center;
    font-size: 18px;
    margin-bottom: 35px;
}
.acordeon{
    background: rgba(255, 255, 255, 0.815) ;
}
.acordeon p{
    font-weight:bold ;
    cursor: pointer;
}
.acordeon label{
    display: block;
    padding: 20px;
    font-size: 20px;
    background: rgb(0, 29, 89);
    color: rgb(253, 253, 252);
    cursor: pointer;
    margin-bottom: 2px;
    transition: all 300ms ease;
}
.acordeon label:hover{
    background: rgb(39, 66, 102);
}
.acordeon .contenido-acordeon{
    padding: 0px;
    margin:0px 20px;
    max-height: 0px;
    overflow: hidden;
    transition:all 300ms ease;
}
.btn-acordeon:checked ~ .contenido-acordeon{
max-height: 600px;
padding:15px 0px
}
.btn-acordeon{
    display: none;
}
@media screen and (max-width: 800px){
    .contenedor-acordeon {
        width: 90%;
        grid-template-columns:repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;    }
    }
/*::::PIE DE PAGINA*/
.pie-pagina{
   width: 100%;
   background-color: rgb(0, 29, 89);
}
.pie-pagina .grupo-1{
    width:100%;
    max-width: 1200px;
    margin:auto;
   display: grid;
   grid-template-columns:repeat(4
   , 1fr);
   grid-gap:50px;
   padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width:250px;
}
.pie-pagina .grupo-1 .box h2{
    color: rgb(255, 255, 255);
    margin-bottom: 25px;
    font-size: 20px
}
.pie-pagina .grupo-1 .box p{
    color: rgb(255,255,255);
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 40px;
    height: 40px;
    line-height: 45px;
    color: rgb(255, 255, 255);
    background-color: rgb(39, 66, 102);
    margin-right: 10px;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color:rgb(0, 29, 89);
}
.pie-pagina .grupo-2{
    background-color: rgb(39, 66, 102);
    padding: 15px 10px ;
    text-align: center;
    color: rgb(255,255,255);
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width: 800px){
.pie-pagina .grupo-1{
    width: 90%;
    grid-template-columns:repeat(1, 1fr);
    grid-gap:30px;
    padding: 35px 0px;

}   
}

/*::::ARTICULOS*/

.subtitulo{
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 30px;

}

.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.caja img{
    width: 300px;
    height: 360px;
    border-radius:30px ;
}
.caja{
    margin: 15px;
}
.caja p{
    text-align: center;
    font-size: 20px;
    font-weight: bold;

}
/*:::MENU DE NAVEGACION*/

.menu{
    list-style: none;
    background-color: rgb(0, 29, 89);
    width: 100%;
    max-width: 1000;
    margin: auto;
    text-align: center;
}
.menu li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}
.menu li{
    display: inline-block;
    text-align: center;
}
.menu li a:hover{
    background:  rgb(39, 66, 102);
}

/*::novedades:*/

.izquierda{
    background-color: rgb(0, 29, 89);
    height: 100%; /*es para que ocupe todo el ancho y alto de la pagina el color*/
    width: 50%;
}

.derecho{
    background: url(Img/648549.jpg);
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 100;
}
#pantalla-dividida{
    display: flex;
}

.titular{
    color: aliceblue;
    font-size: 55px;
}

.izquierda h1{
    width: 50%;
    font-size: 40px;
    margin: auto;
    margin-bottom:40px;
    font-family: 'Montserrat';
    
}
.izquierda p{
    font-size: 18px;
    line-height: 30px;
    width: 50%;
    margin: auto;
    font-family: 'Montserrat';
    
    
}

.link a{
    text-decoration: none;
    border: 3px solid rgb(253, 253, 252);
    padding: 20px;
    border-radius: 30px;
    color: rgb(253, 253, 252);
    font-weight: bold;
    display: inline-block;
    margin-top: 30px ;
}
.link{
    text-align: center;
}